@page "/confirm-delete-transfer-type/{TransferTypeID}"
@layout MainLayout
@inherits SoccerLeagueTransferApp.Pages.ConfirmDeleteTransferTypeComponent

@using Radzen
@using Radzen.Blazor
@using SoccerLeagueTransferApp.Models.ConData
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@transfertype" TItem="SoccerLeagueTransferApp.Models.ConData.TransferType" Visible="@(transfertype != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenHeading Size="H1" style="width: 226px" Text="Transfer Type">
                </RadzenHeading>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenHeading Size="H3" style="width: 413px" Text="Confirm If You Want To Delete This Transfer Type">
                </RadzenHeading>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="TransferTypeName" style="width: 100%" Text="Transfer Type Name">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenLabel Text="@($"{(transfertype.TransferTypeName)}")">
                </RadzenLabel>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="close" Text="Delete Transfer Type">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
